---
import Header from "../components/Header.astro";
import PageContent from "../components/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import * as CONFIG from "../config";
import type { MarkdownHeading } from "astro";

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
const editUrl = `${CONFIG.EDIT_URL}/${currentFile}`;
---

<html dir="ltr" lang="en-us" class="initial">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>
			{
				frontmatter.title
					? `${frontmatter.title} - ${CONFIG.SITE.title}`
					: CONFIG.SITE.title
			}
		</title>
	</head>

	<body
		class="text-slate-500 bg-slate-100 dark:text-slate-400 dark:bg-slate-800"
	>
		<Header currentPage={currentPage} />
		<aside>
			<LeftSidebar currentPage={currentPage} />
		</aside>
		<main>
			<PageContent frontmatter={frontmatter}>
				<slot />
			</PageContent>
		</main>
		<aside>
			<RightSidebar headings={headings} editUrl={editUrl} />
		</aside>
	</body>
</html>
