---
import Header from "../components/Header.astro";
import PageContent from "../components/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import { EDIT_URL, Frontmatter, SITE } from "../config";
import type { MarkdownHeading } from "astro";

const { frontmatter, headings } = Astro.props as {
	frontmatter: Frontmatter;
	headings: MarkdownHeading[];
};
const page = Astro.url.pathname;
const file = `src/pages${page.replace(/\/$/, "")}.md`;
const editUrl = `${EDIT_URL}/${file}`;
const title = frontmatter.title
	? `${frontmatter.title} - ${SITE.title}`
	: SITE.title;
---

<html lang={SITE.language}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>

	<body
		class="text-slate-500 bg-slate-100 dark:text-slate-400 dark:bg-slate-800"
	>
		<Header />
		<aside>
			<LeftSidebar />
		</aside>
		<main>
			<PageContent frontmatter={frontmatter}>
				<slot />
			</PageContent>
		</main>
		<aside>
			<RightSidebar headings={headings} editUrl={editUrl} />
		</aside>
	</body>
</html>
